
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link href="~/css/Style.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <title>My First Core MVC App</title>
</head>
<body>
    <div class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="navbar-brand">My First MVC Core App</div>
    </div>

    @RenderBody()

    <div class="bg-light text-center p-3 fixed-bottom">&copy; All Rights Reserved.</div>
</body>
</html>
